
html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	background-color: black;
}

main {
	background-color: white;
	width: 1000px;
	height: 562.5px;
}

.development-mode a:empty {
	background-color: rgba(133, 133, 254, 0.4);
	border: 1px solid rgba(37, 37, 117, 0.5);
}

a {
	text-decoration: none;
}

body *.imusic-loading {
	display: none;
}
body.imusic-loading *.imusic-loading {
	animation: blinking 700ms infinite;
	display: block;
}@keyframes blinking {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body.production-mode .waxml-open-button {
	display: none;
}