/* Detta sätter alla grundmarginaler till 0 och ser till att sidan fyller hela webbläsaren */


body {
	font-family: sans-serif;
	text-align: center;
	font-size: 200%;
	background-color: black;
}

h1 {
	margin-bottom: 1em;
}

a {
	text-decoration: none; /* tar bort understrykningar i länkar */
	border-radius: 0.3em;
	border: 2px solid black;
	padding: 0.2em;
}
.max-size {
	height: 1000px;
	width: 680px;
	background-color: white;
}
#touchpad {
	font-size: 4em;
	color: white;
	margin: 0.6em auto;
	padding-top: 0.35em;
	box-sizing: border-box;
	width: 2em;
	height: 2em;
	border-radius: 1em;
	border: 10px solid black;
	background-color:blue;
}

#output {
	overflow-y: scroll;
	margin: 10px auto;
	width: 50%;
	height: 6em;
	border: 1px solid black;
}

